.order-summary {
    font-size: 0.9rem;
}

.order-summary .edit {
    color: #82786f;
    text-decoration: underline;
}

.order-summary .title-bar {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1rem;
    border-bottom: 1px solid #918982;
}

.order-summary .title-bar .title {
    margin: 0;
}

.order-summary .products {
    border-bottom: 1px solid #dfdcd8;
}

.order-summary .subtotal, .order-summary .products, .order-summary .shipping-info {
    margin-left: 1.2rem;
    margin-right: 1.2rem;
    padding: 1rem 0;
}

.order-summary .subtotal .row {
    display: flex;
    justify-content: space-between;
}

.order-summary .subtotal .row:nth-child(2) {
    padding-bottom: 1rem;
}

.order-summary .subtotal .row:nth-child(3) {
    padding: 1rem 0;
    border-top: 1px solid #c9c2bc;
    border-bottom: 1px solid #e0dcd9;
}

.order-summary .subtotal .title {
    margin: 0;
    color: #000000;
}

.order-summary .shipping-info {
    line-height: 1.5rem;
}

.order-summary .shipping-info label{
    display: block;
}
